/* Colores principales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    width: 100%;
    min-height: 100vh;
}
:root {

    --color-primary: #7C3AED;
    --color-primary-hover: #8B5CF6;

    --color-background: #0F1117;
    --color-surface: #161A24;
    --color-card: #1E2235;

    --color-text: #FFFFFF;
    --color-text-secondary: #94A3B8;

    --color-success: #22C55E;
    --color-warning: #F59E0B;
    --color-danger: #EF4444;

}